alias={{lightningd_node_alias}}
network={{lightningd_network}}

bitcoin-rpcuser={{bitcoind_rpc_user}}
bitcoin-rpcpassword={{bitcoind_rpc_password}}

lightning-dir={{lightningd_dir}}
addr=localhost:19735
